.navbar {
	background: white;
}

/*body {
	background-image: url(https://source.unsplash.com/Oaqk7qqNh_c/1500x1500);
	background-size: 100%;
}*/

.jumbotron {
	margin: 5% 25%;
	width: 50%;
}

#id-button {
	margin-top: 10px;
}

.hidden {
	display: none;
}

#article_link a{
	color: white;
}

.article {
	width: 50%;
}

.input-group {
	margin-left: 25%;
}

#comment-modal {
	width: 50%;
	margin: 10% 25%;
}